body, #root {
  margin: 0;
  padding: 0;
  display: inline;
}

/* HEADER */

header img {
  width: 50px;
}

/* layout */

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
  color: white;
  font-family: "Fredoka";
  width: 100%;
}

header button {
  font-family: inherit;
  font-size: 20px;
  border: none;
  background-color: rgb(221, 183, 57);
  padding: 10px 25px;
  margin-right: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

header button:hover {
  transform: scale(1.2);
  transition: 0.3s;
}

/* galaxy fold */
@media (max-width: 300px) {
  header button {
    font-size: 15px;
    padding: 5px 10px;
  }
  header {
    font-size: 10px;
  }
}



/* FORM */

form {
  background-color: rgb(44, 44, 44);
  padding: 20px 0;
  font-family: "Fredoka";
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 700px;
}

form input {
  text-transform: uppercase;
  font-family: inherit;
  width: 300px;
  font-size: 20px;
  text-align: center;
}

@media (max-width: 300px) {
  form input{
    font-size: 10px;
    width: 150px;
  }
}

form button {
  background-color: rgb(221, 183, 57);
  border: none;
  padding: 3px 10px;
  font-family: inherit;
  text-transform: uppercase;
  font-weight: bold;
  width: 100px;

  
}

form button:hover {
  transform: scale(1.3);
  transition: 0.3s;
}



/* POST */


main {
  font-family: "Montserrat";
  display: flex;
}

main ul {
  list-style: none;
  padding: 0;
  margin: 20px;
}

.singular-post {
  background-color: rgb(235, 235, 235);
  padding: 10px;
  margin-bottom: 20px;
}


main button {
  border: none;
  background-color: black;
  color: white;
  font-family: inherit;
  padding: 5px 10px;
  padding-bottom: 10.5px;
  font-weight: bold;
}